.catalog {
  @include normal-list;
  max-width: 380px;

  @media (min-width: $desktop-width) {
    max-width: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.catalog__item {
  background-color: $white;
  padding: 43px 20px;
  border: 7px solid $white;

  @media (min-width: $tablet-width) {
    padding: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    padding: 58px 30px;
  }
}

.catalog__item:not(:last-of-type) {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog__item:hover,
.catalog__item:focus-within {
  border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%) 1;
}

.catalog__title {
  font-family: $general-font;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: $dark-cerulean-blue;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.catalog__description {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $dark-cerulean-blue;
  text-align: center;
  margin: 18px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}

.catalog__background-value {
  font-family: $general-font;
  font-size: 80px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: $whisper;
  margin-bottom: -34px;

  @media (min-width: $tablet-width) {
    font-size: 100px;
    margin: 21px 0 -89px;
  }

  @media (min-width: $desktop-width) {
    margin: 17px 0 -89px;
  }
}

.catalog__value {
  font-family: $general-font;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: $resolution-blue;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.catalog__currency {
  display: inline;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }
}

.catalog__button {
  margin: 28px auto 0;
  width: 195px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    width: 194px;
  }
}
