.contacts {
  padding-top: 37px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    width: 683px;
    margin: 0 auto 0 0;
  }
}

.contacts__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: $dark-cerulean-blue;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__list {
  margin: 37px 0 0;

  @media (min-width: $tablet-width) {
    columns: 2 190px;
    column-gap: 60px;
    width: 440px;
    margin: 36px auto 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 36px 0 0;
    columns: 2 178px;
    column-gap: 120px;
    width: 477px;
  }
}

.contacts__list::before {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 8px);
  left: 50%;
  top: 0;
  background-color: $slate-gray;

  @media (min-width: $desktop-width) {
    width: 2px;
    left: calc(50% - 1px);
  }
}

.contacts__content {
  @media (min-width: $tablet-width) {
    break-inside: avoid;
  }
}

.contacts__content:not(:last-child) {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.contacts__term {
  font-family: $general-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: $dark-cerulean-blue;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.contacts__description {
  margin: 13px 0 0;
  font-family: $general-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $dark-cerulean-blue;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    margin-top: 6px;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__link {
  text-decoration: none;
  color: $dark-cerulean-blue;
}
