.datetime {
  font-family: $general-font;
  width: 100%;
}

.datetime__date {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  display: block;

  @media (min-width: $desktop-width) {
    margin-top: 1px;
  }
}

.datetime__date-wrapper {
  display: inline-grid;
  grid-template-areas:
    "day month"
    "day year";
  justify-content: start;
  position: relative;
  margin-top: 2px;
  padding-top: 3px;
  padding-right: 1px;
  column-gap: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 1px;
    display: grid;
    column-gap: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    padding-top: 4px;
  }
}

.datetime__date-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: $white;
}

.datetime__day {
  grid-area: day;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-top: 5px;
  }
}

.datetime__month {
  grid-area: month;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    margin-top: 1px;
  }
}

.datetime__year {
  grid-area: year;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
  }
}

.datetime__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.datetime__time {
  margin-top: 4px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}

.datetime__time-value {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  position: relative;
  margin-top: 2px;
  padding-right: 1px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 1px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-top: 6px;
    padding-top: 7px;
  }
}

.datetime__time-value::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: $white;
}
