.datetime {
  font-family: $general-font;
}

.datetime__date {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  display: grid;
  grid-template-areas:
    "date date"
    "day month"
    "day year";
  grid-template-columns: auto 1fr;
  column-gap: 4px;

  @media (min-width: $tablet-width) {
    column-gap: 6px;
  }
}

.datetime__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.datetime__title--date {
  grid-area: date;
  padding-bottom: 5px;
}

.datetime__title--date::before {
  position: absolute;
  content: "";
  width: 42px;
  height: 1px;
  left: 0;
  bottom: 2px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 100%;
    bottom: 3px;
  }
}

.datetime__time-container {
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }
}

.datetime__title--time {
  display: block;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }
}

.datetime__title--time::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 2px;
  background-color: $white;
}

.datetime__day {
  grid-area: day;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }
}

.datetime__month {
  grid-area: month;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.datetime__year {
  grid-area: year;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.datetime__time-value {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}
