.features {
  background-color: $ghost-white-primary;
  padding-top: 41px;
}

.features__title {
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: $dark-cerulean-blue;
  margin: 0;
}
