.form {
  background-color: $dark-cerulean-blue;
  padding: 71px 0 70px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-areas:
      "title title"
      "name phone"
      "submit submit";
    gap: 35px 30px;
  }
}

.form__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    grid-area: title;
    text-align: center;
  }
}

.form__field {
  margin-top: 29px;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 2px 0 0;
  }
}

.form__field--name {
  @media (min-width: $tablet-width) {
    grid-area: name;
  }
}

.form__field--phone {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    grid-area: phone;
    margin: 2px 0 0;
  }
}

.form__control {
  width: 100%;
}

.form__submit {
  margin-top: 36px;
  display: block;
  width: 100%;
  padding: 22px 20px;

  @media (min-width: $tablet-width) {
    grid-area: submit;
    margin: 0;
    padding: 26px 20px 24px;
  }
}
