.juri {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0 60px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.juri__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: $dark-cerulean-blue;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.juri__swiper {
  margin: 19px auto 0;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    width: 600px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.juri__image-wrapper {
  margin: 0;
  position: relative;
  background-color: rgb($dark-cerulean-blue, 0.8);
}

.juri__image-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.juri__image {
  width: 227px;
  height: 280px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 260px;
    height: 300px;
  }
}

.juri__description {
  position: relative;
  z-index: 1;
  width: 227px;
  padding: 234px 20px 24px;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 260px;
    padding: 253px 20px 25px;
  }
}

.juri__description:hover,
.juri__description:focus {
  background-color: rgb($dark-cerulean-blue, 0.8);
  min-height: 280px;
  padding: 46px 20px 13px;

  @media (min-width: $tablet-width) {
    min-height: 300px;
    padding: 46px 20px 20px;
  }
}

.juri__type {
  display: none;
  font-family: $general-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $french-gray;
  margin: 7px 0 0;
}

.juri__description:hover .juri__type,
.juri__description:focus .juri__type {
  display: block;
}

.juri__advantages {
  display: none;
  font-family: $general-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 34px 0 0;
  padding-left: 46px;
  color: $white;
  list-style-type: none;
  position: relative;
}

.juri__advantage {
  position: relative;
}

.juri__advantage::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: -16px;
  top: 7px;
  background-color: $white;
  border-radius: 50%;
}

.juri__advantage:not(:last-child) {
  margin-bottom: 12px;
}

.juri__description:hover .juri__advantages,
.juri__description:focus .juri__advantages {
  display: block;
}

.juri__name {
  font-family: $general-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  color: $white;
  text-align: center;
  margin: 0;
}

.juri__controls {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 51.3%;
    left: 50%;
    width: 716px;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    width: 1310px;
    top: 53%;
  }
}
