.menu__list {
  @include normal-list;

  margin: 0 -11px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 14.5px;

  @media (min-width: $tablet-width) {
    gap: 20px 31px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px 83px;
  }
}

// PixelPerfect fix

.menu__item:nth-child(3) {
  transform: translateX(-1px);
}

.menu__link {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $white;
  padding: 5px 10px;
  border: 1px solid transparent;
  outline: none;
}

.menu__link:hover {
  text-decoration: 1px solid $white underline;
  text-underline-offset: 8px;
}

.menu__link:focus-visible {
  border-color: $white;
}

.menu__link:focus-visible:hover {
  border-color: transparent;
  text-decoration: 1px solid $white underline;
  text-underline-offset: 8px;
}

.menu__link:active {
  border-color: transparent;
  text-decoration: none;
}

.menu__link:disabled {
  pointer-events: none;
  opacity: 0.4;
}
