.offers {
  padding: 41px 0;
}

.offers__title {
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: $dark-cerulean-blue;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.offers__advert {
  margin-top: 39px;
}
