.offers-list {
}

.offers-list__item {
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%) 1;
}

.offers-list__item-title {
}

.offers-list__description {
}

.offers-list__link {
}
