.offers {
  margin-top: 41px;
}

.offers__title {
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: $dark-cerulean-blue;
  margin: 0;
  text-align: center;
}

.offers__advert {
  background-color: $rogue;
  margin-top: 39px;
  padding-top: 31px;
}

.offers__wysiwyg-wrapper {
  font-family: $general-font;
  color: $white;
}

.offers__link {
  margin: 18px auto 0;
  max-width: min-content;
}

.advert__image-wrapper {
  display: block;
  margin-top: 24px;
}

.offers__image {
  display: block;
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: top;
}

.offers__list {
  margin: 40px auto 0;
  width: 320px;
}

.offers__item {
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%) 1;
  padding: 21px 21px 14px;
}

.offers__item:not(:last-child) {
  margin-bottom: 30px;
}

.offers__item-link {
  width: min-content;
  margin: 9px auto 0;
}
