.offers-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.offers-list__item {
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%) 1;
  padding: 21px 21px 14px;
}

.offers-list__item-title {
  font-family: $general-font;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: $bahama-blue;
  text-align: center;
  margin: 0;
}

.offers-list__description {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $bahama-blue;
  text-align: center;
  margin: 20px 0 0;
}

.offers-list__link {
  margin: 9px auto 0;
  display: block;
  width: min-content;
}
