.reviews {
  padding: 41px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.reviews__title {
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: $dark-cerulean-blue;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.reviews__swiper {
  margin-top: 39px;
  width: 240px;
}

.reviews__controls {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
    top: 54.6%;
    left: 50%;
    width: 716px;
    outline: 5px solid tomato;
  }

  @media (min-width: $desktop-width) {
    top: 59.2%;
    width: 710px;
  }
}

.reviews__list {
  margin-top: 39px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 75px;
  }
}
