.reviews {
  padding: 41px 0 100px;
}

.reviews__title {
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: $dark-cerulean-blue;
  text-align: center;
  margin: 0;
}

.reviews__list {
  margin-top: 39px;
  padding: 0 25px;
}
