.social {
  @include normal-list;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }
}

.social__link {
  background-color: $white;
  color: $dark-blue;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
