.social {
  @include normal-list;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 15px 10px;
  }
}

.social__link {
  background-color: $white;
  color: $dark-blue;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
}

.social__link:hover {
  color: $white;
  background-color: $slate-gray;
}

.social__link:focus-visible {
  color: $white;
  background-color: $resolution-blue;
}

.social__link:active {
  color: $white;
  background-color: $dark-cerulean-blue;
}

.social__link {
  pointer-events: none;
  color: $dark-blue;
  background-color: rgb($white, 0.3);
}
