.social {
  @include normal-list;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 15px 10px;
  }
}

.social__link {
  background-color: $white;
  color: $dark-blue;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.social__link:hover {
  opacity: 0.5;
}

.social__link:focus-visible {
  outline: 2px solid $white;
  outline-offset: 4px;
}

.social__link:active {
  opacity: 0.3;
}

.social__link:disabled {
  pointer-events: none;
  opacity: 0.2;
}
