// CMS обертка.

// About

.wysiwyg-wrapper--about p {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $dark-cerulean-blue;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 502px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 95px;
  }
}

.wysiwyg-wrapper--about p:not(:first-of-type) {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 8px;
  }
}

// Features

.wysiwyg-wrapper--features {
  font-family: $general-font;
  text-align: center;
}

.wysiwyg-wrapper--features ul {
  @include normal-list;
  margin-top: 20px;
}

.wysiwyg-wrapper--features li {
  padding: 20px 0 10px;
}

.wysiwyg-wrapper--features li:not(:last-child) {
  margin-bottom: 5px;
}

.wysiwyg-wrapper--features li:nth-child(3n) {
  background-color: $bahama-blue;
  margin-top: 28px;
  margin-bottom: 20px;
  padding-top: 30px;
}

.wysiwyg-wrapper--features dl {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
}

.wysiwyg-wrapper--features dt {
  color: $dark-cerulean-blue;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 11px;
}

.wysiwyg-wrapper--features dd {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.wysiwyg-wrapper--features b {
  background: linear-gradient(128.66deg, rgb(209, 10, 66), rgb(0, 65, 202));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

.wysiwyg-wrapper--features span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $persian-blue;
  margin-top: 1px;
}

.wysiwyg-wrapper--features p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $dark-cerulean-blue;
  margin: 13px auto 0;
  max-width: 230px;
}

.wysiwyg-wrapper--features li:nth-child(3n) b {
  background: none;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: initial;
  color: $white;
}

.wysiwyg-wrapper--features li:nth-child(3n) span {
  color: $white;
}

.wysiwyg-wrapper--features li:nth-child(3n) dt {
  color: $white;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 6px;
}

.wysiwyg-wrapper--features li:nth-child(3n) p {
  color: $white;
  margin-top: 20px;
  max-width: 162px;
  padding-bottom: 29px;
}
