// CMS обертка.

// About

.wysiwyg-wrapper--about p {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $dark-cerulean-blue;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 95px;
  }
}

.wysiwyg-wrapper--about p:not(:first-of-type) {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 8px;
  }
}

// Features

.wysiwyg-wrapper--features {
  font-family: $general-font;
  text-align: center;
}

.wysiwyg-wrapper--features ul {
  @include normal-list;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 39px 30px;
    width: 768px;
    margin: 49px auto 0;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    width: 1160px;
    grid-auto-flow: dense;
    padding: 0;
    gap: 78px 40px;
  }
}

.wysiwyg-wrapper--features li {
  display: grid;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 0 44px;
    align-content: start;
    align-items: start;
    min-height: 110px;
  }
}

.wysiwyg-wrapper--features li:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.wysiwyg-wrapper--features h3 {
  color: $dark-cerulean-blue;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 11px 0 0;
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-row: 1 / 2;
    grid-column: 2 /3;
    text-align: left;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 22px;
    margin-top: 2px;
    max-width: 210px;
  }
}

.wysiwyg-wrapper--features b {
  background-image: linear-gradient(129deg, #d10a42 0%, #0041ca 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  grid-row: 1 / 2;
  width: min-content;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: left;
    font-size: 70px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
  }
}

.wysiwyg-wrapper--features span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $persian-blue;
  grid-row: 2 / 3;
  margin-top: 1px;

  @media (min-width: $tablet-width) {
    margin: 1px 0 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: left;
    line-height: 22px;
  }
}

.wysiwyg-wrapper--features p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $dark-cerulean-blue;
  margin: 13px auto 0;
  grid-row: 4 / 5;
  max-width: 230px;

  @media (min-width: $tablet-width) {
    margin: 12px 0 0;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    max-width: 238px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
    max-width: 210px;
    grid-row: 2/ 5;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 3) {
  background-color: $bahama-blue;
  margin: 29px 0 30px;
  padding: 30px 0 39px;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    width: 320px;
    margin: 0 auto 1px;
    padding: 35px 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: span 2;
    grid-column: 2 / 3;
    width: 100%;
    padding-bottom: 58px;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 3) b {
  background: none;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: initial;
  color: $white;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 3) span {
  color: $white;
}

.wysiwyg-wrapper--features li:nth-child(5n + 3) h3 {
  color: $white;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 10px auto 0;
    font-size: 26px;
    line-height: 26px;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 3) p {
  color: $white;
  margin-top: 20px;
  max-width: 170px;

  @media (min-width: $tablet-width) {
    margin: 25px auto 0;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 280px;
    margin-top: 30px;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 2),
.wysiwyg-wrapper--features li:nth-child(5n + 5) {
  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    column-gap: 79px;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 4) {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 1),
.wysiwyg-wrapper--features li:nth-child(5n + 2) {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.wysiwyg-wrapper--features li:nth-child(5n + 1)::before,
.wysiwyg-wrapper--features li:nth-child(5n + 2)::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -40px;
    background-color: rgb($pink, 0.2);
  }
}

.wysiwyg-wrapper--features li:last-child {
  @media (min-width: $desktop-width) {
    column-gap: 81px;
  }
}

// Offers

.wysiwyg-wrapper--offers {
  display: flex;
  flex-direction: column-reverse;
}

.wysiwyg-wrapper--offers h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 28px auto 0;
  text-align: center;
  max-width: 230px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-top: 40px;
    margin-left: 25px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 45px;
  }
}

.wysiwyg-wrapper--offers p {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0 20px 0 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 45px;
  }
}

.wysiwyg-wrapper--offers span {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.wysiwyg-wrapper--offers b {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
    margin-top: 20px;
  }
}

// Offers-item

.wysiwyg-wrapper--offers-item {
  font-family: $general-font;
  color: $bahama-blue;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0 11px 0;
  }
}

.wysiwyg-wrapper--offers-item h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.wysiwyg-wrapper--offers-item p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 20px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

// Accordion
.wysiwyg-wrapper--accordion {
  @include normal-list;
  border-top: solid 1px $slate-gray;
}

.wysiwyg-wrapper--accordion li {
  padding-top: 20px;
  padding-bottom: 21px;
  box-shadow: inset 0 -1px $slate-gray;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 23px;
  }
}

.wysiwyg-wrapper--accordion label {
  font-family: $general-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: $dark-cerulean-blue;
  cursor: pointer;
  display: block;
  position: relative;
  padding-right: 40px;
  user-select: none;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
    display: flex;
    min-height: 40px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }
}

.wysiwyg-wrapper--accordion label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  background-image: url("../../__spritemap#sprite-accordion-plus-dark-view");
  border: 1px solid $bahama-blue;
  border-radius: 50%;
  transition: all 0.2s;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.wysiwyg-wrapper--accordion input:hover ~ label::before {
  background-color: $bahama-blue;
  background-image: url("../../__spritemap#sprite-accordion-plus-light-view");
}

.wysiwyg-wrapper--accordion input:focus ~ label::before {
  background-color: $slate-gray;
  background-image: url("../../__spritemap#sprite-accordion-plus-light-view");
}

.wysiwyg-wrapper--accordion input:disabled ~ label {
  cursor: default;
  pointer-events: none;
}

.wysiwyg-wrapper--accordion input:disabled ~ label::before {
  opacity: 0.3;
}

.wysiwyg-wrapper--accordion span {
  display: block;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    max-width: 650px;
  }
}

// PixelPerfect fix
.wysiwyg-wrapper--accordion li:first-child span {
  max-width: 200px;

  @media (min-width: $tablet-width) {
    max-width: unset;
  }
}

.wysiwyg-wrapper--accordion li:last-child {
  @media (min-width: $tablet-width) {
    padding: 24px 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 23px;
  }
}

.wysiwyg-wrapper--accordion li:last-child span {
  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.wysiwyg-wrapper--accordion input {
  @include visually-hidden;
}

.wysiwyg-wrapper--accordion p {
  font-family: $general-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.wysiwyg-wrapper--accordion br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.wysiwyg-wrapper--accordion input:checked ~ p {
  max-height: 100vh;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    max-width: 559px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
    max-width: 660px;
  }
}

.wysiwyg-wrapper--accordion input:checked ~ label::before {
  background-image: url("../../__spritemap#sprite-accordion-minus-light-view");
  background-color: $bahama-blue;
  transform: translateY(-50%) rotate(180deg);
}

.wysiwyg-wrapper--accordion input:checked:hover ~ label::before {
  background-image: url("../../__spritemap#sprite-accordion-minus-dark-view");
  background-color: transparent;
}

.wysiwyg-wrapper--accordion input:checked:focus ~ label::before {
  background-image: url("../../__spritemap#sprite-accordion-minus-light-view");
  background-color: $slate-gray;
}

// Reviews
.wysiwyg-wrapper--reviews {
  @include normal-list;
}

.wysiwyg-wrapper--reviews li {
  background-color: $bahama-blue;
  padding: 30px 25px 29px;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "image title"
      "image text";
    gap: 19px 40px;
    padding: 40px 30px 40px;
  }
}

.wysiwyg-wrapper--reviews img {
  border-radius: 50%;
  display: block;
  width: 68px;
  height: 68px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-area: image;
    width: 80px;
    height: 80px;
  }
}

.wysiwyg-wrapper--reviews h3 {
  margin: 10px 0 0;
  font-family: $general-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: title;
    font-size: 22px;
    line-height: 22px;
    margin: 1px 0 0;
    text-align: left;
  }
}

.wysiwyg-wrapper--reviews p {
  margin: 17px 0 0;
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: text;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: left;
  }
}
