.catalog {
  @include normal-list;
}

.catalog__item {
  background-color: $white;
  padding: 50px 62px;
  position: relative;
}

.catalog__title {
  font-family: $general-font;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: $dark-cerulean-blue;
  text-align: center;
  margin: 0;
}

.catalog__description {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $dark-cerulean-blue;
  text-align: center;
  margin: 18px 0 0;
}

.catalog__background-value {
  font-family: $general-font;
  font-size: 80px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: $whisper;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog__value {
  position: relative;
  font-family: $general-font;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: $resolution-blue;
  margin: 86px auto 0;
  z-index: 1;
  position: relative;
  text-align: center;
}

.catalog__currency {
  display: inline;
}

.catalog__button {
}

//Остановился на добавлении иконки рубля, учесть доступность
