.link {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  padding: 10px;
  border: 1px solid transparent;
  transition: all 0.2s;
  display: block;
  position: relative;
  text-align: center;
}

.link::before {
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: 1px;
  left: 10px;
  bottom: 4px;
  background-color: $white;
}

.link:hover {
  color: rgb($white, 0.8);
}

.link:hover::before {
  background-color: rgb($white, 0.8);
}

.link:focus {
  border-color: $white;
}

.link:focus::before {
  background-color: transparent;
}

.link:active {
  border-color: transparent;
  color: $white;
}

.link:active::before {
  background-color: $white;
}

.link:disabled {
  pointer-events: none;
  cursor: default;
  color: rgb($white, 0.5);
}

.link--dark {
  color: $bahama-blue;
}

.link--dark::before {
  background-color: $bahama-blue;
}

.link--dark:hover {
  color: rgb($bahama-blue, 0.8);
}

.link--dark:hover::before {
  background-color: rgb($bahama-blue, 0.8);
}

.link--dark:focus {
  border-color: $bahama-blue;
}

.link--dark:focus::before {
  background-color: transparent;
}

.link--dark:active {
  border-color: transparent;
  color: $bahama-blue;
}

.link--dark:active::before {
  background-color: $bahama-blue;
}

.link--dark:disabled {
  pointer-events: none;
  cursor: default;
  color: rgb($bahama-blue, 0.5);
}
