.play-button {
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgb($rogue, 0.2);
  background-color: transparent;
  position: relative;
  color: $white;
  transition: all 0.2s;
  outline: none;
}

.play-button:hover {
  border-color: rgb($dark-cerulean-blue, 0.6);
}

.play-button:focus {
  border-color: $dark-cerulean-blue;
}

.play-button:active {
  border-color: $dark-cerulean-blue;
}

.play-button:disabled {
  border-color: rgb($dark-cerulean-blue, 0.4);
}

.play-button::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(90deg, #ed0233 0%, #003eb7 100%);
  background-color: $dark-cerulean-blue;
  transition: all 0.2s;
}

.play-button:hover::before {
  background-image: none;
  background-color: $white;
}

.play-button:focus::before {
  background-image: none;
  background-color: $chinese-silver;
}

.play-button:active::before {
  background-image: none;
  background-color: $white;
  width: 58px;
  height: 58px;
}

.play-button:disabled:before {
  background-image: none;
  background-color: transparent;
}

.play-button__icon {
  position: absolute;
  left: -2px;
  top: -2px;
  transition: all 0.2s;
  border-radius: 50%;
}

.play-button:hover .play-button__icon {
  color: rgb($dark-cerulean-blue, 0.6);
}

.play-button:focus .play-button__icon {
  color: $dark-cerulean-blue;
}

.play-button:active .play-button__icon {
  color: $dark-cerulean-blue;
}

.play-button:disabled .play-button__icon {
  color: rgb($dark-cerulean-blue, 0.4);
}
